@model IEnumerable<DomainModel.HotelRoom>

@{
    ViewBag.Title = "Rooms";
}

<h1>Beheer Kamers</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            naam
        </th>
        <th>
            aantal personen
        </th>
        <th>
            kamerstatus
        </th>
        <th>
            minimumprijs
        </th>
        <th>
            openingsdatum
        </th>
        <th>
            sluitdatum
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Kamer @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPersons)
        </td>
        <td>
            @if (item.Bookings == null)
            {
                @Html.Raw("Leeg")
            }
            else
            {
                for (int i = 0; i < item.Bookings.Count; i++)
                {
                    if(item.Bookings.ElementAt(i).StartDate > DateTime.Now && item.Bookings.ElementAt(i).EndDate < DateTime.Now) {
                        @Html.Raw("Bezet")
                    }
                }
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MinPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
