@model IEnumerable<DomainModel.HotelRoom>

@{
    ViewBag.Title = "Rooms";
}

<h1>Beheer Kamers</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            naam
        </th>
        <th>
            aantal personen
        </th>
        <th>
            kamerstatus
        </th>
        <th>
            minimumprijs
        </th>
        <th>
            openingsdatum
        </th>
        <th>
            sluitdatum
        </th>
        <th>
            beheer
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Kamer @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPersons)
        </td>
        <td>
            @if (item.Bookings == null)
            {
                @Html.Raw("Leeg")
            }
            else
            {
                for (int i = 0; i < item.Bookings.Count; i++)
                {
                    if(item.Bookings.ElementAt(i).StartDate > DateTime.Now && item.Bookings.ElementAt(i).EndDate < DateTime.Now) {
                        @Html.Raw("Bezet")
                    }
                }
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MinPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<h1>Kamer toevoegen</h1>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Nieuwe kamer</legend>
        <div class="editor-label">
            @Html.Label("Aantal personen: ")
        </div>
        <div class="editor-field">
            <select id="personen" name="personen">
                <option value="2">2 persoons</option>
                <option value="3">3 persoons</option>
                <option value="5">5 persoons</option>
            </select>
        </div>
        <div class="editor-label">
            @Html.Label("Minimumprijs: ")
        </div>
        <div class="editor-field">
            @Html.TextBox("minprice", null, new { type = "number", step = "0.01" })
        </div>
        <p>
            <input type="submit" value="Toevoegen" />
        </p>
</fieldset>
}

